/* Reset box-sizing and apply inheritance */
*,
*:before,
*:after {
    box-sizing: border-box;
}
.image {
    width: 100%;
    /* Set the image width to 100% of the container */
    height: auto;
    /* Maintain aspect ratio */
    max-height: 200px;
    /* Limit the maximum image height */
    object-fit: cover;
    /* Cover the container with the image, maintaining aspect ratio */
}
/* Basic styling for cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    margin: 10px;
    /* Add margin to separate cards */
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    /* Fix box-sizing for padding */
    padding: 8px;
    /* Add padding within cards */
    background-size: contain;
    /* Use 'cover' for background-size */
    background-position: center;
    /* Center the background image */
    transition: background 0.8s, border 1s, opacity 1s;
    /* Combine transitions */
    position: relative;
}

/* Add hover effect to card border */
.card:hover {
    border: 1px solid white;
}

/* Style for card content */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* Use height: 100% for proper alignment */
}

/* Icon container styles */
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    opacity: 0;
    transition: opacity 1s;
    backdrop-filter: blur(100px);
    border-radius: 20px;
}

/* Text styles */
.text {
    border-radius: 20px;
    color: white;
}

/* Heading styles */
h4 {
    backdrop-filter: blur(30px);
    height: 20px;
    top: 200px;
    left: 5px;
    width: 80px;
    opacity: 0;
    transition: opacity 1s;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

/* Media query for mobile */
@media screen and (max-width: 650px) {
    .card {
        
        /* Adjust width for smaller screens */
        /* Adjust height as needed for your design */
        width: 100%;
            height: auto;
    }
}